{% block container %}
<div>
Ton annonce

{% for tag in tags %}
            <li>{{ tag }}</li>
{% endfor %}

<form action="{{ path('app_updateannounce',{'id': announce.id}) }}" method="post">
  <label for="images">Image :</label>
  <input type="text" id="images" name="images" value="{{ announce.images }} "><br><br>

  <label for="title">Titre :</label>
  <input type="text" id="title" name="title" value="{{ announce.title }} "><br><br>

  <label for="description">Description :</label>
  <input type="text" id="description" name="description" value="{{ announce.description }} "><br><br>

  <label for="price">Prix :</label>
  <input type="text" id="price" name="price" value="{{ announce.price }} "><br><br>

  <label for="tags">Choisissez une ou plusieurs catégories :</label>
  <br/>
    <select multiple name="tags[]" id="tags" >     
        <option value="1" {% if 1 in tags %} selected{% endif %}>Automobile</option>
        <option value="2" {% if 2 in tags %} selected{% endif %}>Informatique</option>
        <option value="3" {% if 3 in tags %} selected{% endif %}>Jardin</option>
    </select>
    <br/>
  <input type="submit" value="Modifier">
</form>

</div>
{% endblock %}