{% extends 'menu.html.twig' %}
{% block container %}
    <h5>Votre annonce</h5>
  <div class="row">
    <div class="col-6 card mb-3 edit-announce">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <figure class="figure d-block w-100" style="background-image: url('https://pbs.twimg.com/media/D8wZV7eXUAEdSRF.jpg')"></figure>
                </div>
                 <div class="carousel-item">
                    <figure class="figure d-block w-100" style="background-image: url('https://pbs.twimg.com/media/D8wZV7eXUAEdSRF.jpg')"></figure>
                </div>
                 <div class="carousel-item">
                    <figure class="figure d-block w-100" style="background-image: url('https://pbs.twimg.com/media/D8wZV7eXUAEdSRF.jpg')"></figure>
                </div>
                 <div class="carousel-item">
                    <figure class="figure d-block w-100" style="background-image: url('https://pbs.twimg.com/media/D8wZV7eXUAEdSRF.jpg')"></figure>
                </div>
            </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    {{ source('@public_path'~asset('svg/chevronleft.svg')) }}
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    {{ source('@public_path'~asset('svg/chevronright.svg')) }}
                    <span class="visually-hidden">Next</span>
                </button>
        </div>
      <div class="price_container">
        <div class="price">
          XX<sup>€xx</sup>
        </div>
      </div>
      <div class="card-body">
        <h5 class="card-title">Votre titre</h5>
        <p>
          <small>Votre description</small>
        </p>
      </div>
    </div>
    <div class="col-6">
      <h6>Créer mon annonce</h6>
      <hr style="border: 1px solid black;" />
      {{ form_start(announceForm) }}
      {{ form_widget(announceForm) }}

      <div class="text-right">
        <button type="submit" class="submit_announce" role="alert">Créer mon annonce</button>
      </div>
      {{ form_end(announceForm) }}
    </div>
  </div>
{% endblock %}
