{% extends 'menu.html.twig' %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('js/vote_profil.js') }}"></script>
{% endblock %}

{% block container %}
	{% if announce %}
		<div>
			<div class="row g-4 mt-3">
				<div class="single_announce col-9">
					<figure class="figure" style="background-image: url('{{ announce.Image ? ['/uploads/', announce.Image]|join:'https://pbs.twimg.com/media/D8wZV7eXUAEdSRF.jpg' }}')"></figure>
					<div class="price_container">
						<div class="price">{{announce.price}}<sup>€00</sup>
						</div>
					</div>
					<div class="card-body">
						<h5 class="card-title">{{announce.title}}</h5>
						<hr/>
						<h6>Description</h6>
						<p class="card-text">
							{{announce.description}}
						</p>
					</div>
				</div>


				<div class="col-3">
					<div class="card_profile mb-3" href="/profile/{{user.id}}">
						<a class="profile_redirection"href="/profile/{{user.id}}">
						<img class="card_background_img" src="https://source.unsplash.com/9wg5jCEPBsw" alt="background-img"/>
						<img class="card_profile_img" alt="profile_img" src="https://source.unsplash.com/7Sz71zuuW4k"/>
						<div class="user_details">
							<h3>{{user.name}}</h3>
							<p>Membre depuis le
								{{user.created_at|date('d F Y')}}
							</p>
						</div></a>
						<div class="card_count">
							<div class="count">
								<div class="notes">
									<h3 class="voteTotal">{{ (upvote|length) + (downvote|length) }}</h3>
									<p>Notes</p>
								</div>
								<div class="post">
									<h3>{{announces.count()}}</h3>
									<p>{{ announces|length > 1 ? "Annonces" : "Annonce" }}</p>
								</div>
							</div>

							<div class="btn_vote">{{ is_granted("EDIT", announce) is same as(false) ? 'Votez' : 'Votes' }}</div>
							{# <form action="{{ path('app_vote', { sellerId: sellerId }) }}" method="post"> #}
							<div class="updown">
								<button class="js-vote" data-direction="up" data-user="{{ announce.getUserId.getId }}" name="vote" value="up" style="{{ vote.getAlreadyUpvote(app.user.id) ? 'fill: #ff6e14' : '' }}">
									{{ source('@public_path'~asset('svg/thumbsup.svg')) }}

									<p class="js-vote-up">{{ vote.upvoteTotal }}</p>
								</button>
								<button class="js-vote" data-direction="down" data-user="{{ announce.getUserId.getId }}" name="vote" value="down" style="{{ vote.getAlreadyDownvote(app.user.id) ? 'fill: #ff6e14' : '' }}">
									{{ source('@public_path'~asset('svg/thumbsdown.svg')) }}

									<p class="js-vote-down">{{ vote.downvoteTotal }}</p>
								</button>
							</div>
						</div>
					</div>
					<p class="card-text">
						<small class="text-muted">Annonce en ligne depuis le
							{{announce.created_at|date('d F Y')}}.</small>
					</p>

					<div>
						{% for tag in announce.tags %}
							<span>#{{tag.name}}</span>
						{% endfor %}
					</div>
					{% if (is_granted("ROLE_ADMIN")) or (is_granted("EDIT", announce)) %}
						<div class="tools mt-3">
							<a href="{# {{ path('app_editannounce', { id: announce.id }) }} #}" class="add">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewbox="0 0 16 16">
									<path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
									<path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
								</svg>
								Modifier
							</a>
							<a href="{{ path('app_removeannounce', { id: announce.id }) }}" class="submit_announce">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewbox="0 0 16 16">
									<path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
									<path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
								</svg>
								Supprimer
							</a>
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	{% endif %}
	{% for question in questions %}
		<p>{{ question.user.name }}</p>
		<p>{{ question.question }}</p>
		<p>{{ question.askedAt|date('d F Y') }}</p>
	{% endfor %}

	{% if is_granted("EDIT", announce) is same as(false) %}
		<form action="{{ path('app_question', { announceId: announce.id }) }}" method="post">

			<label for="question">Vous voulez poser une question ?</label>
			<textarea type="textarea" id="question" name="question"></textarea>

			<input type="submit" value="Modifier">
		</form>
	{% endif %}
{% endblock %}
